.Rproj.user
.Rhistory
.RData
.Ruserdata


**/*.rds
**/*_cache/*


.quarto/

test*.qmd

objects/

_freeze/


/.quarto/

posts/*/_cache/

# Use quarto publish, do not trakc the rendered website:
_site/

