.Rproj.user
.Rhistory
.RData
.Ruserdata


**/*.rds
**/*.rdb
.vscode/


/.quarto/
objects/

_freeze/


/docs-OLD/
docs/

# Hier wohnen Monster, riesig, auf jeden Fall ignorieren:
*_cache/
*_html/

# !!Use **Quarto publish**, do not track the rendered website:
_site/
site_libs/
*_files/

# Do not track html files
**/*.html

# strange Mac Apple stuff:
Icon?
**/Icon?
.DS_Store

**/*.quarto_ipynb
